*{
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.container{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#logo {
    width: 100vw;
    padding: 3%;
    max-width: 600px;
}

.YTD {
    top: 0%;
    padding-top: 5%;
    position: relative;
    height: 25%;
    width: 100%;
    background-color: white;
}

.YTD div {
    padding-top: 5px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #ed4a06;
    border: none;
    color: white;
    padding: 6px 32px;
    text-decoration: none;
    margin: 50px 30px;
    cursor: pointer;
  }


.weeks-left {
    position: relative;
    height: 10%;
    width: 50%;
    background-color: green;
}

.average-needed {
    position: relative;
    height: 50%;
    width: 100%;
    background-color: #f7f7fa;
    padding-top: 5px;
}

.average-needed p {
    padding-top: 5px;
    margin: 5px;
}

#weeks-left {
    visibility: hidden;
}

